.header {
  background: #FFFFFF;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 1700px;
  max-width: 100%;
  padding: 0 50px;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0 10px;
  }
}

.header__logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li a {
  color: #008B5B;
  display: inline-block;
  padding: 38px 20px;
}

.header__nav li a:hover {
  background: #008B5B;
  color: #fff;
}

.main {
  padding: 0 50px;
}

@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }
}

.main-visual {
  height: 600px;
  max-height: 100%;
  width: 1700px;
  max-width: 100%;
  background: url(../img/main_dummy_photo.png) center center/cover no-repeat;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 50px;
    height: 350px;
  }
}

.catch_copy {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

@media (max-width: 767px) {
  .catch_copy {
    bottom: 3px;
    left: 3px;
  }
}

.catch_copy p {
  display: inline-block;
  font-size: 24px;
  background: #fff;
  margin: 0;
  padding: 4px 18px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .catch_copy p {
    font-size: 8px;
  }
}
