.noscroll {
  overflow: hidden;
}

.header {
  background: #FFFFFF;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 1700px;
  max-width: 100%;
  padding: 0 50px;
  position: relative;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0 10px;
  }
}

.header__logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li a {
  color: #008B5B;
  display: inline-block;
  padding: 38px 20px;
}

.header__nav li a:hover {
  background: #008B5B;
  color: #fff;
}

.burger {
  position: absolute;
  right: 0;
}

.burger-btn {
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
  display: none;
}

@media (max-width: 767px) {
  .burger-btn {
    display: block;
  }
}

.bar {
  width: 20px;
  height: 3px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #008B5B;
}

.bar_top {
  top: 10px;
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 10px;
}

.burger-btn.close .bar_top {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
          transform: translate(-50%, 9px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
  -webkit-transform: translate(-50%, -7px) rotate(-45deg);
          transform: translate(-50%, -7px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-nav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.nav-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.nav-item {
  margin-right: 0;
  margin-bottom: 15px;
}

.nav-item a {
  display: inline-block;
  width: 230px;
  padding: 18px 0;
  color: #008B5B;
}

.nav-item a:hover {
  background: #008B5B;
  color: #fff;
}

.main {
  padding: 0 50px;
}

@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }
}

.main-visual {
  height: 600px;
  max-height: 100%;
  width: 1700px;
  max-width: 100%;
  background: url(../img/main_dummy_photo.png) center center/cover no-repeat;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 50px;
    height: 350px;
  }
}

.catch_copy {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

@media (max-width: 767px) {
  .catch_copy {
    bottom: 3px;
    left: 3px;
  }
}

.catch_copy p {
  display: inline-block;
  font-size: 24px;
  background: #fff;
  margin: 0;
  padding: 4px 18px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .catch_copy p {
    font-size: 8px;
  }
}

.introduction {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1500px;
  max-width: 100%;
  height: 300px;
  background: url(../img/dummy1.png) no-repeat;
  background-size: 600px;
  background-position: right top;
}

@media (max-width: 767px) {
  .introduction {
    max-width: 95%;
    margin: 30px auto;
    margin-bottom: 150px;
    background-size: 400px;
  }
}

.introduction_text {
  width: 600px;
  max-width: 100%;
  height: auto;
  margin-left: 300px;
  padding-top: 50px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .introduction_text {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .introduction_text {
    margin-left: 0;
    padding-top: 200px;
  }
}

.introduction_text h2 {
  display: inline-block;
  background: #fff;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .introduction_text h2 {
    font-size: 18px;
  }
}

.introduction_text p {
  background: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .introduction_text p {
    font-size: 14px;
  }
}

.about {
  background: #008B5B;
  padding-top: 80px;
  height: auto;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .about {
    padding-top: 50px;
  }
}

.section_inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.about_inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .about_inner {
    display: block;
  }
}

.about_left {
  width: 60%;
  position: relative;
}

.about_left img {
  display: block;
  width: 380px;
  height: 266px;
}

@media (max-width: 767px) {
  .about_left img {
    width: 235px;
    height: 164px;
  }
}

@media (max-width: 767px) {
  .about_left {
    width: 100%;
    padding: 0 20px;
  }
}

.about-title {
  position: absolute;
  right: 50px;
  top: 6px;
  font-size: 32px;
  color: #fff;
  font-family: Oswald;
}

@media (max-width: 767px) {
  .about-title {
    top: initial;
    right: initial;
    bottom: -70px;
    left: 20px;
  }
}

.about_img2 {
  margin-left: 100px;
  margin-top: -50px;
}

.about_img3 {
  margin-top: -50px;
}

.about-right {
  width: 40%;
}

.about_text {
  font-size: 18px;
  margin: 0;
}

.about-right {
  width: 40%;
}

@media (max-width: 767px) {
  .about-right {
    width: 100%;
    padding: 0 20px;
    margin-top: 70px;
  }
}

.card {
  background: #fff;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .card {
    padding: 0 20px 0 20px;
  }
}

.card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 107px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .card_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.card_top-title {
  width: 130px;
  font-size: 32px;
  color: #333;
  font-family: Oswald;
}

@media (max-width: 767px) {
  .card_top-title {
    width: 100%;
    margin: 30px 0 20px;
  }
}

.card_top-text {
  width: calc(100% - 400px - 130px - 50px);
}

@media (max-width: 767px) {
  .card_top-text {
    width: 100%;
  }
}

.card_top-img {
  width: 400px;
}

@media (max-width: 767px) {
  .card_top-img {
    width: 100%;
  }
}

.card_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}

.card_bottom::after {
  content: "";
  position: absolute;
  background: url(../img/layer1.png) no-repeat;
  width: 18px;
  height: 33px;
  left: -30px;
  top: 70px;
}

.card_bottom::before {
  content: "";
  position: absolute;
  background: url(../img/layer2.png) no-repeat;
  width: 18px;
  height: 33px;
  right: -30px;
  top: 70px;
}

.card_bottom-item {
  width: 24%;
}

.card_bottom-item h3 {
  margin-top: 25px;
}
